<h1>All Attractions</h1>

<%= 
<ul>
    <% @attractions.each do |attraction|%>
        <li><%= link_to "#{attraction.name}", attraction_path(attraction) %></li>
    <% end %>
</ul>

<br>

<% if @user.admin %>
    <%= link_to "New Attraction", new_attraction_path %>
<% end %>